body {
    margin: 0px
}

#section-1, #section-2 {
    margin: 5%;
}

header {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
}

nav {
    width: 100%;
}

nav ul{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

#CTA video{
    width: 100%;
}

section div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

section div article{
    border: 1px solid black;
}

#section-2 button{
    background-color: aqua;
    border: none;
    padding: 1em 5em;
    border-radius: 2em;
    cursor: pointer;
}

#section-2 button:hover {
    background-color: rgb(255, 208, 0);
    transition: background-color 1.5s;
}

footer {
    padding: 1em;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}